
header{
    display: flex;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.301);
    font-family: idroid;
    max-width: 100%;
    min-width: auto;
    height: min-content;
    padding: 10px 15px 10px 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

nav{
    margin: 0;
    min-width: 20px;
}

#icon{
    padding-left: 30px;
    margin-right: 0;
}
.container-input {
    position: relative;
  }
  
.input {
    width: 130px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}
  
.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}
  
.input:focus {
    opacity: 1;
    width: 130px;
}
    
header > h1 {
    margin: 0;
    color: purple;
    min-width: 10px;
}

header > h1:hover{
    cursor: default;
}  

abbr{
    text-decoration: none;
}

body{
    margin: 0%;
}


.menu{
    display: flex;
    padding-right: 5px;
    padding-left: 0;
    list-style-type: none;
}

#icon{
    cursor: pointer;
}

hr{
    margin: 10px;
}

.opcoes > ul > li{
    margin: 0%;
    list-style-type: none;
    border-radius: 4px;
    padding: 10px;
    outline: 1px grey;
}

.opcoes > ul > li:hover{
    background-color: blueviolet;
    transition: 0.2s;
    color: white;
}

.conteudo{
    display: flex;
    justify-content: center;

}

.produtos1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align: justify;
    padding-top: 0%;
}

li > #ok{
    background-color: rgb(252, 223, 255);
    padding: 5px;
    margin-bottom: 0px;
    color: black;
    border-color: blueviolet;
}

h3{
    font-size: 30px;
    padding: 4px;
}

.amostra{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: min-content;
}

.amostra > #sp1 > #preco{
    color: blueviolet;
    font-size: 35px;
}

.amostra > #sp1 > p{
    margin-top: 0%;
}

.amostra > #sp1 #okk{
    height: 40px;
    width: 50px;
    font-size: 20px;
    color: blueviolet;
}

#ufg{
    padding: 10px -1px 10px 100px;
}

#sp2 > button{
    padding: 14px 80px 14px 80px;
    margin-left: 27px;
    margin-bottom: 25px;
    margin-top: 0%;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    border-color: transparent;
    cursor: pointer;
}

#sp2 > button:hover{
    background-color: rgb(110, 37, 179);
    scale: 1.1;
    transition: 0.2s;
}
#sp2 > button:active{
    background-color: rgb(87, 28, 143);
}
 
#sp1 > #sp3 > button{
    cursor: pointer;
    padding: 10px;
    margin-left: 25px;
    background-color: whitesmoke;
    border-color: blueviolet;
    color: blueviolet;
    font-size: 15px;
    border-radius: 10px;
}

#sp1 > #sp3 > button:hover{
    background-color: blueviolet;
    color: white;
    transition: 0.4s;
}
#sp1 > #sp3 > button:active{
    background-color: rgb(87, 28, 143);
}

#sp1 > #oqq{
    padding: 9px;
}

#sp1 > hr{
    width: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sp1{
    border: 1px solid rgba(0, 0, 0, 0.295);
    padding: 10px;
    border-radius: 4px;
    max-width: max-content;
    min-width: min-content;
    margin-left: 40px;
}

#btn{
    padding: 10px 50px 10px 50px;
    background-color: whitesmoke;
    border-color: blueviolet;
    border-radius: 15px;
    cursor: pointer;
}
#btn:hover{
    background-color: blueviolet;
    color: white;
    transition: 0.4s;
 }

h4{
    margin: 40px 40px 40px 70px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline blueviolet 3px;
 }
#sep{
    margin: 40px 0px 40px 0px;
 }

.ukk{
    display: flex;
    margin-left: 70px;
    place-items: space-between;
    flex-wrap: wrap;
}

#card > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
 }

#card{
    box-shadow: 0px 0px 7px rgb(182, 182, 182);
    margin: 3px;
    cursor: pointer;
    width: 200px;
    height: 300px;
 }
 #card > p:hover{
    color: blueviolet;
 }

